extends layout

block navbar
  +nav_item("/") Home
  +nav_item("/browse") Browse
  +nav_item("/search") Search

block content
    .container
        if error
            .alert.alert-danger.alert-dismissible(role="alert")
                button.close(data-dismiss="alert", aria-label="Close")
                    span(aria-hidden="true") &times;
                strong Error
                |  #{error}
        h2 Add new Document
        hr
        form.form-horizontal(action="admin/new", method="post", enctype="multipart/form-data")
            .from-group
                label.control-label(for="path") Upload Path
                input.form-control(type="text", name="path", required="true")
                label.control-label(for="file") Document to upload
                input(type="file", name="newDoc", required="true")
                br
            .from-group
                button.btn.btn-default(type="submit", name="submit") Upload Document
