extends layout

block navbar
  +nav_item("/") Home
  +nav_item("/browse") Browse
  +nav_item("/search") Search

block content
    .container
        if error
            .alert.alert-danger.alert-dismissible(role="alert")
                button.close(data-dismiss="alert", aria-label="Close")
                    span(aria-hidden="true") &times;
                strong Error
                |  #{error}
        h1 Admin Panel
        hr

        p
            a.btn.btn-default(href='/admin/history') Search History
            span 
            a.btn.btn-default(href='/admin/new') Add New Document

