extends layout

block navbar
  +nav_item("/") Home
  +nav_item("/browse") Browse
  +nav_item("/search") Search

block content
    .container
        h1 Admin Panel
        hr

        p
            a.btn.btn-default(href='/admin/history') Search History
            span 
            a.btn.btn-default(href='/admin/upload') Upload Document

        a.btn.btn-default(href="/") Back
