extends layout

block navbar
  +nav_item("/","active") Home
  +nav_item("/browse") Browse
  +nav_item("/search") Search

block content
    .container
        h1 Welcome
        hr
        h3 Browse
        a.btn.btn-default(href="browse") Go to Browse
        br
        h3 Seach
        a.btn.btn-default(href="search") Go to Search
