extends layout

block body
    .header
        +navbar(title, "dropdown_menu", "inverse")
          +nav_item("/","active") Home
          +nav_item("/browse") Browse
          +nav_item("/search") Search

    .container
        .row
          .col-md-3.pull-right
              form.form-inline(role="search", method="get", action="/search/query")
                  .input-group
                      input.form-control(name="q", type="search", placeholder="Search")
                      span.input-group-btn
                          button.btn.btn-default(type="submit", aria-label="search")
                              span.glyphicon.glyphicon-search(aria-hidden="true")
    .container
