extends ../node_modules/jade-bootstrap/_bootstrap

block styles
  block meta
  link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
  link(rel="stylesheet",href="/css/style.css")
  block css

block scripts
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
  block js
