extends layout

block navbar
  +nav_item("/") Home
  +nav_item("/browse") Browse
  +nav_item("/search","active") Search

block content
    .container
        h1 Query results
        hr
        .result
            if results && results.length > 0
                +list-group-custom()
                each item in results
                    +list-group-item(item.url)
                        h4.large
                            span(class="glyphicon glyphicon-file")
                            span #{item.title}
                        span.small #{item.context}
            else
                if xquery
                    h3 XQuery Results
                    code #{xquery}
                else
                    h1 No results found
                    h2
                        a(href="/search") Back to search
